In [1]:
!pip install numpy
!pip install pandas
!pip install matplotlib

Requirement already satisfied: numpy in ./venv/lib/python3.12/site-packages (1.26.4)

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: pandas in ./venv/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in ./venv/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: matplotlib in ./venv/lib/python3.12/site-packages (3.8.4)
Requirement already satisfied: contourpy>=1.0.1 in ./venv/lib/python3.12/site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in ./venv/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./venv/lib/python3.12/site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in ./venv/lib/python3.12/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.21 in ./venv/lib/python3.12/site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in ./venv/lib/python3.12/site-packages (from matplotlib) (24.0)
Requirement already satisfied: pillow>=8 in ./venv/lib/python3.12/site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./venv/lib/python3.12/site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in ./venv/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("matches.csv")

In [4]:
df

,Unnamed: 0,date,time,comp,round,day,venue,result,gf,ga,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0.0,1.0,...,Match Report,NaN,18.0,4.0,16.9,1.0,0.0,0.0,2022,Manchester City
1,2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5.0,0.0,...,Match Report,NaN,16.0,4.0,17.3,1.0,0.0,0.0,2022,Manchester City
2,3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5.0,0.0,...,Match Report,NaN,25.0,10.0,14.3,0.0,0.0,0.0,2022,Manchester City
3,4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1.0,0.0,...,Match Report,NaN,25.0,8.0,14.0,0.0,0.0,0.0,2022,Manchester City
4,6,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0.0,0.0,...,Match Report,NaN,16.0,1.0,15.7,1.0,0.0,0.0,2022,Manchester City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1384,38,2021-05-02,19:15,Premier League,Matchweek 34,Sun,Away,L,0.0,4.0,...,Match Report,NaN,8.0,1.0,17.4,0.0,0.0,0.0,2021,Sheffield United
1385,39,2021-05-08,15:00,Premier League,Matchweek 35,Sat,Home,L,0.0,2.0,...,Match Report,NaN,7.0,0.0,11.4,1.0,0.0,0.0,2021,Sheffield United
1386,40,2021-05-16,19:00,Premier League,Matchweek 36,Sun,Away,W,1.0,0.0,...,Match Report,NaN,10.0,3.0,17.0,0.0,0.0,0.0,2021,Sheffield United
1387,41,2021-05-19,18:00,Premier League,Matchweek 37,Wed,Away,L,0.0,1.0,...,Match Report,NaN,11.0,1.0,16.0,1.0,0.0,0.0,2021,Sheffield United
1388,42,2021-05-23,16:00,Premier League,Matchweek 38,Sun,Home,W,1.0,0.0,...,Match Report,NaN,12.0,3.0,17.0,0.0,0.0,0.0,2021,Sheffield United

In [5]:
df = df.drop(columns=["Unnamed: 0", "match report", "notes"], errors="ignore")

In [6]:
df.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,formation,referee,sh,sot,dist,fk,pk,pkatt,season,team
0,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0.0,1.0,Tottenham,...,4-3-3,Anthony Taylor,18.0,4.0,16.9,1.0,0.0,0.0,2022,Manchester City
1,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5.0,0.0,Norwich City,...,4-3-3,Graham Scott,16.0,4.0,17.3,1.0,0.0,0.0,2022,Manchester City
2,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5.0,0.0,Arsenal,...,4-3-3,Martin Atkinson,25.0,10.0,14.3,0.0,0.0,0.0,2022,Manchester City
3,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1.0,0.0,Leicester City,...,4-3-3,Paul Tierney,25.0,8.0,14.0,0.0,0.0,0.0,2022,Manchester City
4,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0.0,0.0,Southampton,...,4-3-3,Jonathan Moss,16.0,1.0,15.7,1.0,0.0,0.0,2022,Manchester City

In [8]:
x = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [ ]:
df.size
# size = row * cols

34725

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1389 entries, 0 to 1388
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1389 non-null   object
 1   time        1389 non-null   object
 2   comp        1389 non-null   object
 3   round       1389 non-null   object
 4   day         1389 non-null   object
 5   venue       1389 non-null   object
 6   result      1389 non-null   object
 7   gf          1389 non-null   float64
 8   ga          1389 non-null   float64
 9   opponent    1389 non-null   object
 10  xg          1389 non-null   float64
 11  xga         1389 non-null   float64
 12  poss        1389 non-null   float64
 13  attendance  693 non-null    float64
 14  captain     1389 non-null   object
 15  formation   1389 non-null   object
 16  referee     1389 non-null   object
 17  sh          1389 non-null   float64
 18  sot         1389 non-null   float64
 19  dist        1388 non-null   float64
 20  fk          1389 non-null   float64
 21  pk          1389 non-null   float64
 22  pkatt       1389 non-null   float64
 23  season      1389 non-null   int64
 24  team        1389 non-null   object
dtypes: float64(12), int64(1), object(12)
memory usage: 271.4+ KB

In [11]:
df.describe()

,gf,ga,xg,xga,poss,attendance,sh,sot,dist,fk,pk,pkatt,season
count,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,693.000000,1389.000000,1389.000000,1388.000000,1389.000000,1389.000000,1389.000000,1389.000000
mean,1.335493,1.380850,1.304176,1.338445,49.702664,36089.963925,12.153348,4.041037,17.011527,0.455724,0.119510,0.147588,2021.452844
std,1.274235,1.291049,0.767268,0.789360,12.401897,17797.991778,5.268876,2.403866,2.988364,0.665389,0.352187,0.387804,0.497951
min,0.000000,0.000000,0.000000,0.000000,18.000000,2000.000000,0.000000,0.000000,4.000000,0.000000,0.000000,0.000000,2021.000000
25%,0.000000,0.000000,0.700000,0.700000,40.000000,24351.000000,8.000000,2.000000,15.100000,0.000000,0.000000,0.000000,2021.000000
50%,1.000000,1.000000,1.200000,1.200000,50.000000,32061.000000,12.000000,4.000000,16.900000,0.000000,0.000000,0.000000,2021.000000
75%,2.000000,2.000000,1.800000,1.800000,59.000000,52214.000000,15.000000,5.000000,18.800000,1.000000,0.000000,0.000000,2022.000000
max,9.000000,9.000000,4.600000,5.000000,82.000000,73458.000000,31.000000,15.000000,34.900000,4.000000,3.000000,3.000000,2022.000000

In [12]:
df = df.sort_values(by = 'date').reset_index(drop=True).copy()

In [13]:
df

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,formation,referee,sh,sot,dist,fk,pk,pkatt,season,team
0,2020-09-12,17:30,Premier League,Matchweek 1,Sat,Home,W,4.0,3.0,Leeds United,...,4-3-3,Michael Oliver,20.0,4.0,17.0,0.0,2.0,2.0,2021,Liverpool
1,2020-09-12,20:00,Premier League,Matchweek 1,Sat,Home,L,0.0,2.0,Newcastle Utd,...,4-2-3-1,Stuart Attwell,15.0,3.0,15.6,0.0,0.0,0.0,2021,West Ham United
2,2020-09-12,15:00,Premier League,Matchweek 1,Sat,Home,W,1.0,0.0,Southampton,...,4-4-2,Jonathan Moss,6.0,3.0,10.1,0.0,0.0,0.0,2021,Crystal Palace
3,2020-09-12,20:00,Premier League,Matchweek 1,Sat,Away,W,2.0,0.0,West Ham,...,4-4-2,Stuart Attwell,16.0,3.0,16.2,1.0,0.0,0.0,2021,Newcastle United
4,2020-09-12,12:30,Premier League,Matchweek 1,Sat,Away,W,3.0,0.0,Fulham,...,3-4-3,Chris Kavanagh,13.0,5.0,13.6,2.0,0.0,0.0,2021,Arsenal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1384,2022-04-24,14:00,Premier League,Matchweek 34,Sun,Home,W,1.0,0.0,Wolves,...,4-4-2,Anthony Taylor,13.0,5.0,18.8,0.0,0.0,0.0,2022,Burnley
1385,2022-04-24,14:00,Premier League,Matchweek 34,Sun,Home,D,2.0,2.0,Southampton,...,4-4-2◆,Robert Jones,8.0,5.0,11.2,0.0,0.0,0.0,2022,Brighton and Hove Albion
1386,2022-04-24,14:00,Premier League,Matchweek 34,Sun,Away,D,2.0,2.0,Brighton,...,4-4-2,Robert Jones,18.0,5.0,19.4,1.0,0.0,0.0,2022,Southampton
1387,2022-04-25,20:00,Premier League,Matchweek 34,Mon,Home,D,0.0,0.0,Leeds United,...,4-3-3,Darren England,17.0,7.0,13.8,0.0,0.0,0.0,2022,Crystal Palace
1388,2022-04-25,20:00,Premier League,Matchweek 34,Mon,Away,D,0.0,0.0,Crystal Palace,...,4-2-3-1,Darren England,9.0,2.0,16.5,0.0,0.0,0.0,2022,Leeds United

### Handling missing data

In [14]:
import numpy as np
from sklearn.impute import SimpleImputer

numeric_cols = df.select_dtypes(include=[np.number]).columns
numeric_cols = df[numeric_cols].columns[~df[numeric_cols].isna().all()]

imputer = SimpleImputer(strategy='mean')
df[numeric_cols] = imputer.fit_transform(df[numeric_cols])

In [15]:
# 1. Drop junk columns (if not already done)
df = df.drop(columns=["Unnamed: 0", "match report", "notes"], errors="ignore")

# 2. Define features and target
X_raw = df.drop(columns=["result"])
y = df["result"]

In [16]:
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline

In [17]:
numeric_cols = df.select_dtypes(include=[np.number]).columns
categorical_cols = df.select_dtypes(exclude=[np.number]).columns

In [18]:
numeric_pipeline = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="mean"))
])

categorical_pipeline = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="most_frequent")),
    ("onehot", OneHotEncoder(handle_unknown="ignore"))
])

In [19]:
ct = ColumnTransformer(
    transformers=[
        ("num", numeric_pipeline, numeric_cols),
        ("cat", categorical_pipeline, categorical_cols)
    ]
)

In [20]:
X = ct.fit_transform(df)

In [21]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

model = Pipeline(steps=[
    ("preprocess", ct),
    ("classifier", LogisticRegression(max_iter=1000, multi_class="auto"))
])

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_raw, y,
    test_size=0.2,
    random_state=42,
    stratify=y
)